resa-form-type-menu
    div(resa-type="train") Train
    div(resa-type="plane") Vol
    div(resa-type="bus") Bus
    div(resa-type="car") Voiture
    div(resa-type="hostel") Hôtel
    div(resa-type="stay") Séjour
    div(resa-type="plane-hostel") Vol+ Hôtel
