layout {
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  overflow:hidden;
  
  #layout-header {
    flex:0 1 auto;
  }
  #layout-content {
    flex:1 1 auto;
    overflow-x:hidden;
    overflow-y:auto;
    padding-bottom: 10px;
  }
}